.foodCard {
    display: flex;
    flex-direction: column;
    margin-right: 0.8em;
    margin-left: 0.8em;
    margin-top: 1em;
    align-items: center;
    background-color: rgb(194, 194, 194);
    border-radius: 1.2em;
    width: 230px;
}

.foodCard .reservedStatus {
    width: 100%;
    height: 20px;
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: white
}

.foodCard .reservedStatus.available {
    background-color: rgb(59, 180, 11);
}

.foodCard .reservedStatus.reserved {
    background-color: rgb(216, 142, 5);
}

.foodCard .reservedStatus.sold {
    background-color: rgb(180, 59, 11);
}

.foodCard p {
    margin-top: 0.5em;
    text-align: center;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    font-size: small;
}

.foodCard .textContent {
    margin: 0;
}

.foodCard .textContentRed {
    margin: 0;
    color: red
}

.foodCard .textContentGreen {
    margin: 0;
    color: rgb(0, 161, 0)
}

.foodCard .textContentYellow {
    margin: 0;
    color: rgb(223, 152, 1)
}

.foodCard img {
    height: 120px;
    width: 170px;
    border-radius: 1em;
    margin-top: 1em;
    box-shadow: 5px 5px 21px 0px rgba(0, 0, 0, 0.4);
}

.foodCard button {
    width: 120px;
    border-radius: 0.5em;
    border-style: none;
    transition: 0.2s;
    height: 1.5em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.foodCard button:hover {
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transform: scale(1.1);
}